@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Page</h1>
    <div id="video-container">
        <iframe width="500" height="300" src="https://www.youtube.com/embed/FmUw1MmIYvU" title="Bleachers - Rollercoaster (Audio)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
    </div>

    <!-- Animation Container//  -->
    <div id="container">
        <div id="animate">

        </div>
    </div>

    <p><button onclick="myMove()">Click Me</button></p>
</div>


